img {
  max-width: 100%;
  color: transparent;
}

svg:not(:root) {
  display: block;
}

/*------------------------------------*\
    #LISTS
\*------------------------------------*/

/**
 * Remove extra vertical spacing when nesting lists.
 */

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/*------------------------------------*\
    #ANCHOR
\*------------------------------------*/

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}

table {
  width: 100%;
}

address {
  font-style: normal;
}

svg {
  fill: currentColor;
}
