/*------------------------------------*\
    #PAGE
\*------------------------------------*/

/**
 * High-, page-level styling.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward 'jumps' when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 4. Prevent certain mobile browsers from automatically zooming fonts.
 * 5. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 *
 *    https://github.com/inuitcss/base.page/blob/master/_base.page.scss
 */

html {
  font-size: $base-font-size / 16px * 1em;

  /* [1] */
  //line-height: $base-line-height / $base-font-size;
  line-height: ($base-line-height / $base-font-size) * 1;

  /* [1] */
  color: color(black);
  min-height: 100%;

  /* [3] */
  -webkit-text-size-adjust: 100%;

  /* [4] */
  -ms-text-size-adjust: 100%;

  /* [4] */
  -moz-osx-font-smoothing: grayscale;

  /* [5] */
  -webkit-font-smoothing: antialiased;

  font-family: $primary-font-family;
}

html,
body {
  height: auto;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

// Reinstate a sensible, standardised amount of margin on certain elements
/* stylelint-disable */
h1, h2, h3, h4, h5, h6,
ul, ol, dl, blockquote,
p, address, table, fieldset,
figure, pre {
    margin-bottom: $base-space;
    margin-bottom: ($base-space / $base-font-size)*1em;
}
// Create a standardised gap for bullets etc. on lists
ul,ol,dd{
    margin-left:2 * $base-space;
    margin-left:(2 * $base-space / $base-font-size)*1em;
}
/* stylelint-enable */

figure {
  margin-bottom: 0;
}

::selection {
  background-color: color(black);
  color: color(white);
}
